/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1,
h2,
h3,
h4 {
  color: #787676;
}

.App {
  padding: 1rem 5rem;
}
.game-state {
  color: white;
}

.game-state,
.time-control,
.property-list {
  margin-bottom: 30px;
}

.property-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.property-card h3 {
  margin-top: 0;
}

.property-card p {
  margin: 5px 0;
}

.owned-actions,
.upgrade-paths {
  margin-top: 10px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
}

.speed-control {
  margin-top: 10px;
}

.speed-control label {
  margin-right: 10px;
}

.error {
  color: red;
}

.neighborhood-section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
}

.property-card {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  color: #787676;
}

.upgrade-paths ul {
  list-style-type: none;
  padding-left: 0;
}

.upgrade-paths {
  display: flex;
  flex-direction: column;
}

.upgrade-paths button {
  margin-bottom: 5px;
  max-width: 200px;
}

.upgrade-path h6 {
  margin: 0;
}

.neighborhood-section {
  color: #f9f9f9;
  width: 100%;
}

.property-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
